* {

  margin:0 auto;
  padding:0;
  font-family: "Arial",sans-serif;
}
.wrapper {
  width:100%;

}

a:link {
  text-decoration: none;

}
a:hover {
  cursor:pointer;
  color: #e8e8e8;
}
a:visited {}

ul>li {
  list-style-type: none;
  font-size:13px;
}

.clearfix:after {
  clear:both;
  content: '.';
  display:block;
  line-height: 0px;
  visibility: hidden;
}

.contact-border {
  width:1050px;
}
.header-border {
  width:1050px;
}
.header-contact {
  height:30px;
  background-color: #0f75bd;
  width:100%;
}
.linked {
  margin:0px 8%;

}
.linked ul>li{

  float:left;
  padding:5px 15px;
}
a {
  color: rgba(255,255,255,0.6);

}
.linked ul>li:nth-child(2) {
  border-left:  rgba(255,255,255,0.5) dotted 1px;
  border-right:  rgba(255,255,255,0.5) dotted 1px;
}

.contact {
  color: rgba(255,255,255,0.5);
  float:right;
  margin:0px 8%;
}
.contact ul>li{
  float:left;
  padding: 5px 5px;
}
.contact ul>li:nth-child(2) {border-right: rgba(255,255,255,0.5) dotted 1px}


.header {
  /*height:200px;*/
  margin:0px 100px 0px 100px;
  padding:15px 15px;
}

.top-nav {
  float:right;
}

.top-nav ul li a{
  font-size: 16px;
  text-decoration: none;
  color:#000000;
}
.top-nav ul li{
  text-align: center;
  float:left;
  width: 120px;
  padding: 20px 0px;

}
.top-nav ul li a:hover{
  text-decoration: none;
  color:#edb4b6;

}
.slider-border {
  width:1050px;
}
.slider {
  
  height:380px;
  position: relative;
  padding-top:30px;
  margin:0 auto;
  background-color: #0f75bd;
}
.slider img {
  margin: 0 auto;
  display: block;
  z-index: 11;
  width: 1035px;
  height: 330px;
  border: #0f75bd solid 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1),-5px -5px 10px rgba(0,0,0,0.1),5px -5px 10px rgba(0,0,0,0.1),-5px 5px 10px rgba(0,0,0,0.1);
}

.input {
  width:1000px;
  margin:0 auto;
  display: block;
  padding:0;
  margin-top:-30px;
}
.input input[type="radio"] {
  z-index: 33;

  cursor: pointer;
  background-color: #0f75bd;

}
.input input[type="radio"]:first-child {
  margin-left:91%;


}


.slider label>span {
  padding: 20px 20px;
  position: absolute;
  float:left;
  margin-left:10px;
  margin-top:-230px;
  display: block;
  z-index: 21;
  width: 340px;
  height:70px;
  color:#c2c2c2;
  background-color: rgba(244,148,14,0.8);
  font-size:20px;
}

.ub-group {
  
  margin:0px auto;
}
.ub-border {
  margin:0 auto;
  width:1200px;
  padding-bottom: 50px;
}
.ub-group {
  width:1000px;
  margin:0 auto;
  
}
.ub-group p,hr {
  float:left;
  clear: left;
  max-width: 500px;
  
}
ub-group p:nth-child(3) {
  font-size: 42px;
  
}
.ub-group p {
  margin:40px 50px 20px 0px ;
  color: #033234;
}

.ub-group img[id="bank"] {
  float:left;
  height:25px;
  padding-right:20px;
}
.ub-group img[id="idea"] {
  float:left;
  height:250px;
  margin:-180px 0px 0px 150px;

}

.plan {
  margin:0 auto;
  color:#ffffff;

}
.plan p{
  line-height:27px;
}
.plan-border {
  width:1300px;
  margin:0 auto;
}

.plan-title {
  float:left;
  background-color: #f99503;
  width:330px;
  height:340px;
}
.plan-title p {
  padding-top: 100px;
  padding-left: 20px;
  text-align:left;
  margin: 35px 0px 0px 110px;
  font-size:28px;
  width: 160px;
  height: 170px;
  background-color: #ffffff;
}
.plan-title a{
  color: #333333;
}

.plan-bank {
  float:left;
  width:430px;
  height:340px;
}
.plan-bank p:first-child {
  padding-top: 150px;
  font-size:30px;
}
.plan-bank p {
  padding-left:20px;
}

.plan-bank p>span>a {
  margin-top:20px;
  border: #fa9401 solid 2px;
  padding: 5px 10px;
  color: #fa9401;
}
.plan-bank p>span>a:hover {
  color: #ffffff;
}
.plan-other {
  float:left;
  width:270px;
  height:340px;
}
.plan-other p {
  padding-left:20px;
  padding-top:40px;
}
.plan-other p>a {
  color:rgba(255,255,255,0.8);
}
.plan-other p>a:hover {
  color:#fa9401;
}
.plan-other p:first-child {
  padding-top: 150px;
  font-size:26px;

}


.infor {
  margin:30px 0px 30px 120px;
}
.infor-border {
  width:1250px;
}
.infor-common {
  border-bottom: #e8e8e8 solid 1px;
  font-size:30px;
  
}
.information {
  width:520px;
  float:left;
}


.infor-detail {
  padding: 20px 10px 10px 0px;
}
.infor-detail img {
  float:left;
  border-radius: 5px 5px;
  width:160px;
  height:120px;

}
.infor-detail img>nav{
  float:left;

}

.infor-detail p {
  margin:10px 10px 10px 180px;
  color:#999999;
}
.infor-detail p:first-child {
  color:#333333;
  font-size: 20px;
}
.infor-detail span>img {
  width:15px;
  height:15px;
}

.video {
  float:left;
  width:550px;
  margin-left: 40px;
}
.video iframe {
  margin-top: 20px;
  width:550px;
  height:400px;
}


.logo {
  
  border-bottom: #f99503 solid 10px;
  /*padding:100px 0px 50px 0px;*/
  padding-bottom: 50px;
}
.logo img{
  padding:10px 10px;
}
.logo-border {
  margin: 0 auto;
  width:900px;
}


.footer {
  margin:0 auto;
  background-color:#0f75bd;
}
.footer-border {
  margin:0 auto;
  width:1300px;
}
.footer-left {
  padding:50px 0px 20px 0px;
  width:570px;
  color: rgba(255,255,255,0.5);
  float:left;
  margin-left:120px;
}
.footer-left p{
  color: #ffffff;
  font-size:14px;
  padding:5px 5px;
}
.footer-left p:first-child {
  font-size:20px;
}
.footer-left ul>li{
  float:left;
  padding:5px 5px;
}
.footer-left ul>li:nth-child(3),.footer-left ul>li:nth-child(5) {
  border-left:  rgba(255,255,255,0.5) dotted 1px;
  margin-left:10px;
  padding-left:10px;
}
.footer-left span>img {
  margin-top:20px;
  
}

.footer-right {
  margin:50px 0px 0px 100px;
  width:400px;
  height:200px;
  float:left;
}
.footer-right img {
  margin:50px 0px 0px 150px;
}



